# Ignore everything
*

# But not these files...
!/.gitignore

!*.go
!translations/**/*.json
!*.yml
!*.yaml
!*.md
!go.sum
!go.mod
!assets/
!docs/**/*.md
!docs/**/*.png
!tools/
# ...even if they are in subdirectories
!*/

.vscode/settings.json
dist/
fyne-cross/
