# Ignore everything
*

# But not these files...
!/.gitignore

!*.go
!*.json
!*.png
!*.yml
!*.yaml
!go.sum
!go.mod

!README.md
!LICENSE
!assets/go-hass-agent.desktop
!docs/
!tools/

# !Makefile

# ...even if they are in subdirectories
!*/
.vscode/settings.json

dist/
