# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# Except these...
!/.gitignore
!*.go
!*.templ
!go.sum
!go.mod
!*.yaml
!*.yml
!*.toml
!*.md
!*.json
!cosign.*
!web/assets/*
!web/content/*
web/content/*.js
web/content/*.js.map
web/content/*.css
web/content/*.css.map
!build/
!.prettierrc
!.prettierignore
!.parcelrc
!.postcssrc
!eslint.config.js
!.vscode/tasks.json
!.vscode/launch.json
!.devcontainer/*
!LICENSE
!deployments/mosquitto/config/mosquitto.conf.example
# ...even if they are in subdirectories
!*/

# always ignore these
tmp/
.devcontainer/.env
dist/
deployments/
node_modules/
