user mosquitto

# unencrypted only on localhost
listener 1883

# encrypted on network
#listener 8883
#certfile /mosquitto/config/ssl.crt
#keyfile /mosquitto/config/ssl.key

#Allow connection without authentication
allow_anonymous true

log_dest stdout
log_timestamp_format %Y-%m-%dT%H:%M:%S
log_type debug
