// Copyright 2025 Joshua Rich <joshua.rich@gmail.com>.
// SPDX-License-Identifier: MIT

package templates

import "github.com/joshuar/go-hass-agent/models"

templ Alert(msg *models.Message) {
	<div
		role="alert"
		class={
			"alert alert-outline mx-auto my-8",
			templ.KV("alert-error", msg.IsError()),
			templ.KV("alert-success", msg.IsSuccess()),
			templ.KV("alert-warning", msg.IsWarning()),
			templ.KV("alert-info", msg.IsInfo()),
		}
	>
		<div class="px-4 py-5 sm:p-6 space-y-4">
			<span class="gap-y-2">
				<p class="font-semibold text-base">{ msg.Summary }</p>
				if msg.HasDetails() {
					<p class="text-sm">{ msg.Details }</p>
				}
				{ children... }
			</span>
		</div>
	</div>
}
