volumes:
  mosquitto_data:
services:
  devcontainer:
    hostname: devcontainer
    env_file:
      - .env
    devices:
      - /dev/dri
    environment:
      - GOHASSAGENT_NOLOGFILE=1
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - GO_VERSION=$GO_VERSION
    volumes:
      - ..:/workspace:cached
      - /etc/localtime:/etc/localtime:ro,cached
      - /run/dbus:/run/dbus:ro
    user: vscode
    cap_add:
      - SYS_PTRACE
      - SETUID
      - SETGID
      - SYS_RAWIO
      - SYS_ADMIN
      - MKNOD
      - DAC_OVERRIDE
    security_opt:
      - seccomp:unconfined
      - label:disable
    ports:
      - $GOHASSAGENT_server_port:8223
    command: -c 'dbus-launch sleep infinity'

  home-assistant:
    hostname: home-assistant
    privileged: true
    cap_add:
      - NET_ADMIN
      - NET_RAW
    env_file:
      - .env
    image: ghcr.io/home-assistant/home-assistant:$HA_VERSION
    volumes:
      - ./data/home-assistant/config:/config
      - /run/dbus:/run/dbus:ro
    ports:
      - 8123:8123

  mosquitto:
    hostname: mosquitto
    env_file:
      - .env
    image: docker.io/eclipse-mosquitto:$MOSQUITTO_VERSION
    volumes:
      - ./data/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - mosquitto_data:/mosquitto/data
      - /etc/localtime:/etc/localtime:ro,cached
    ports:
      - 1883:1883
      - 8883:8883
