[Desktop Entry]
Name=Start Go Hass Agent
Comment=A Home Assistant, native app for desktop/laptop devices.
Path=/usr/bin
Exec=go-hass-agent run
Icon=go-hass-agent
Terminal=false
Categories=System;Monitor;TrayIcon;
Keywords=home;assistant;hass;
Type=Application
